{% extends "layout.html" %} {% load static%} {%block body%}
<div class="container my-5">
  <!-- Adding margin to the top and bottom -->
  <div class="card m-2 border-0 shadow-lg rounded" style="max-width: 80rem">
    <!-- Adding margin around the card -->
    <img src= "{{image}}" alt="Card image cap" style="height: 400px; object-fit: cover" />
>
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Image Generator</h5>
      <p class="card-text text-center">
        Create beautiful images with a click of a button!
      </p>
      <div class="text-center">
        <a href="#" class="btn btn-primary btn-lg mt-4" onclick="location.reload()" >Generate</a>
      </div>
    </div>
  </div>
</div>

{% block container%} {% endblock %} {% endblock %}
