{% extends "layout.html" %} {% load static%} {%block body%}
<div class="container my-5">
  <!-- Adding margin to the top and bottom -->
  <div class="card m-2 border-0 shadow-lg rounded" style="max-width: 80rem">
    <!-- Adding margin around the card -->
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Text Generator</h5>
      <p class="card-text text-center"></p>
      <div class="text-center">
        <a href="#" class="btn btn-primary btn-lg mt-4">Generate </a>
      </div>
    </div>
  </div>
</div>
{% block container%} {% endblock %} {% endblock %}
